async-timeout==4.0.3
certifi==2024.7.4
charset-normalizer==3.3.2
dir-tree==0.0.2
directory_tree==1.0.0
idna==3.7
importlib-metadata==6.7.0
mutagen==1.47.0
python-dotenv~=1.0.1
redis==5.0.1
requests==2.32.3
setuptools==78.1.1
six==1.16.0
spotipy==2.25.1
typing_extensions==4.13.2
urllib3==2.2.2
wheel==0.38.1
zipp==3.19.1

argparse~=1.4.0
Levenshtein~=0.25.1
Flask~=3.1.0
flask-cors~=6.0.0

pytest==7.3.1
pytest-cov==4.1.0
pytest-mock==3.10.0